# Ignore environment files
.env

# Ignore Terraform cache and provider binaries
.terraform/
.tfstate
.tfstate.backup
.terraform.tfstate
.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup


# Ignore Ansible sensitive templates
/ansible/settings.php.j2