<VirtualHost *:80>
    ServerName {{ ip_address }}
    ServerAdmin admin@{{ ip_address }}
    DocumentRoot /var/www/html/drupal/drupal-11.1.5/

    CustomLog ${APACHE_LOG_DIR}/access.log combined
    ErrorLog ${APACHE_LOG_DIR}/error.log

    <Directory /var/www/html/drupal/drupal-11.1.5/>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
        RewriteEngine on
        RewriteBase /
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]
    </Directory>
</VirtualHost>
